* {
  font-family: 'Xanh Mono', monospace;
  overflow: hidden;
}


  
.contenedor {
  height: 100vmax;
  width: 100vmax;
  
  
}

.section {
  background: none;
  height:100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  position: absolute;
  margin-top: 10%;

  animation: Inicio 4s;
  animation-delay: .2s;
  
}

.gif {
  position: absolute;
}

.titulo {
  background-color: transparent;
  color:#ffffff;
  width:100%;
  
  
}

.titulo h1 {
  font-size:50px;
  line-height: 1;
  font-weight: 700;
  position:relative;
  margin: 0.4em; /* 20px */
  left: 2em; /* 100px */


}


.titulo h2 {
  font-size:20px;
  position:relative;
  margin: 1em; /* 20px */
  left: 5em; /* 100px */
  
 
      
}


.titulo h2 span {
  color:#030303;
  font-size:130%;
  text-decoration: underline;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
    width:100%;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    font-size: 20px;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 1em; /* 15px 20px*/
    width: 100px;
    text-decoration: none;
    
    position: relative;
    left: 5em;  /* 200px */

   
  }

  /* .topnav a#LogIn  {
    float:right;
    margin-right:40px;
  } */
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a:focus {
    background-color: #010255;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a {
      left:0;
      display:none;}
    /* .topnav a:not(:first-child) {display: none;} */
    .topnav a.icon {
      
      display: block;
      font-size:36px;
      width:100vw;
      text-align:right;
      background-color: #010255;
    }

    .topnav a.icon:hover {
      background-color: #010255;
    }

    .topnav {
      position: fixed;
      top:0;
    }

    .section {
      display: flex;
      flex-direction:column-reverse;
      justify-content: flex-end;
      position: absolute;
      top:80px;
      animation: Inicio 4s;
      
    }
    .titulo h1 {
      left: 0px; 
      font-size: 40px;
      text-align: center;
    }

    .titulo h2 {
      left: 0px; 
      font-size: 15px;
      text-align: center;
    }

    
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {
        position: fixed;
        top:0;
        height:500px;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0px;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      top:126px;
      width: auto;
    }
   
    .topnav.responsive a#LogIn{
        float: none;
    }
    .titulo.responsive h1 {
      display: none;
 
    }
    .titulo.responsive h2 {
      display: none;
    }
  }

  /* adjusting the image */

#gif {
  width: device-width;
  height:100%;
  object-fit: cover;

}

@media screen and (max-width: 600px) {
    
}

@keyframes Inicio {
  0% {
      top:100%;
      left: 20%;

  }
  100% {
      top:80px;
      left: 0;

  }
}
